[2017-07-28 10:55] thevishnupradeep opened #1 "How to do text queries?"
Does react-native-api-ai support text queries?

[2017-07-28 11:07] spoeck commented on #1
Yepp, you can request a test query as showed below:
[code]

[2017-07-28 11:10] thevishnupradeep commented on #1
Thank you 👍

[2017-07-28 11:10] #1 closed

[2017-08-04 10:40] spoeck opened #2 "Breaking change of RN 0.47"
If you are already developing on react-native 0.47 you will get following error:
[code]
This is because RN 0.47 made an breaking change. I've made an workaround until I publish it to a separate npm version. Just install the branch RN47-Fix:
[code]

[2017-08-09 09:49] spoeck commented on #2
Release [v1.0.2](https://github.com/innFactory/react-native-api-ai/releases/tag/v1.0.2) fixes the issue for RN 0.47 and works also with lower versions of react-native.

[2017-08-09 09:49] #2 closed

[2017-08-10 06:00] eggybot opened #3 "ApiAi.requestQuery additional parameters and settings?"
Hi, the module is great and its works best in my app project, I'm just wondering if there are any additional function to this plugin where I can add queries to submit GET/POST base on this documentation.
https://api.ai/docs/reference/agent/query#get_query

I can create it in fetch but I hope this function can be included so I don't need to recreate another function (which will save time and optimi

[2017-08-10 08:07] spoeck commented on #3
Thank you for the issue!
I think you only want to set `context` and may `entities`, am I right?
Parameters like `location`, `lang`or `timezone` should be set automatically via react-native-api-ai.

Unfortunately the api-ai-javascript client which I use for iOS doesn't support context and entities out of the box. But it shouldn't be that hard to integrate it in the origin lib on my own. May I made

[2017-08-11 18:07] spoeck commented on #3
@eggybot
I just released v1.1.0 which is supporting `contexts`.
I will close this issue. If you need additional functionality please let me know and don't hesitate to reopen the issue or create a new one as well.

[2017-08-11 18:07] #3 closed

[2017-08-22 04:08] masihfathi opened #4 "add language"
hi,
whould you plz add persian languge to the package?
thanks

[2017-08-22 05:21] spoeck commented on #4
Unfortunately the persian language is not support by api.ai! Please contact the api.ai team for your issue. Here are all official supported languages by api.ai:
https://api.ai/docs/reference/language

[2017-08-22 05:21] #4 closed

[2017-08-23 14:23] eggybot opened #5 "Request UserEntities"
do  have time if you can include UserEntities where I can set a required entities on intent. I tried modifying your code and adding an Entity from `apiai-android-client` library, it has no errors but the problem the user-entities I included was not showing on the result query and it is prompting to give the entities action with required value.

I use to modify your code with this instruction
https

[2017-08-23 14:30] spoeck commented on #5
Yepp, that's the way to go. I will implement this as well for ios tomorrow!

[2017-08-24 13:52] spoeck commented on #5
@eggybot
New verison 1.2.0 is out!
You can set entities now:
[code]
The result object in...
[code]
is now the same as in iOS. So you have also sessionId and all other information here.

[2017-08-24 13:52] #5 closed

[2017-08-25 17:57] noorulrazvi-alef opened #6 "Getting the following exception if I build my project for android"
Execution failed for task ':app:transformResourcesWithMergeJavaResForDebug'.

        File1: /Users/nrazvi/.gradle/caches/modules-2/files-2.1/org.apache.logging.log4j/log4j-core/2.2/c707664e020218f8529b9a5e55016ee15f0f82ac/log4j-core-2.2.jar
        File2: /Users/nrazvi/.gradle/caches/modules-2/files-2.1/org.apache.logging.log4j/log4j-api/2.2/d7ef6ad7ff0711dd12fe409d62d72d6ed14516e0/log4j-api-2.2.

[2017-08-25 19:23] jona7o commented on #6
I think you use some other libaries in your project? You must define a merge strategy in your maven/gradle build. @spoeck do you think the same?

[2017-08-26 12:46] noorulrazvi-alef commented on #6
Thank you for your reply..Yes, I updated the packagingOptions in my app's build.gradle and things are started working now.

[2017-08-26 12:46] #6 closed

[2017-08-30 06:41] eggybot opened #7 "Context Reset"
Hi, is there an option where we can reset the context? I tried searching it on the component function but I could not find on how can I reset it.

thanks,

[2017-08-30 07:47] spoeck commented on #7
I'm not sure if this is the right way to do what you want. In the doc of the method is written `Forget all old contexts` , so what is the old context?
I found another method in the java client (the android client is build on top): [resetActiveContexts](https://github.com/api-ai/apiai-java-client/blob/master/libai/src/main/java/ai/api/AIDataService.java#L467), but unfortunately it is not delegated

[2017-08-30 08:04] spoeck commented on #7
For iOS I have to implement a JavaScript Method which made a DELETE Request for the context as explained [here](https://api.ai/docs/reference/agent/contexts).
We can use this javascript way for android as well.

[2017-08-30 12:37] spoeck commented on #7
@eggybot
In version 1.3.0 I've implemented `resetContexts` in javascript which performs following request:
[code]

It deletes the active contexts of a current session. I hope that's what you need ;)

[2017-08-30 12:37] #7 closed

[2017-08-30 13:51] spoeck commented on #7
ok, and what does it mean? Do you need some other reset functionality? Or what method and parameters do you need?

[2017-08-30 22:46] eggybot opened #8 "Switching from 1 agent to another agent bot?"
Hi, I'm experimenting to switch from one agent to another agent bot using different API key. But the problem the first API Key I loaded still uses when I switching the key on the `ApiAi.setConfiguration()` , is this because the session I used on the first one holds the API key? if so do I need to reset the session of the user so I can switch from one bot agent to another one?

thanks,

[2017-08-31 08:45] spoeck commented on #8
I found a good solution from the api.ai support directly. They recommend a master agent which your client is connected to. The master agent will call all the specific agents. Have a look here:
https://discuss.api.ai/t/how-to-switch-between-agents/6690/6

[2017-08-31 13:55] rajasaur opened #9 "Can we get the text spoken when doing ApiAi.startListening?"
Hi,
Thanks for the project, helps us get a great jumpstart.

We are developing a chat application using APIAI as the backend and were wondering if there is any hook available to get the text when doing ApiAI.startListening. Typically as a chat user, it will be good to show the result of what the user spoke before getting the response from ApiAI.

Our chat app (without this) was doing a separate Go

[2017-08-31 14:07] spoeck commented on #9
Hi, thanks for using our lib ;)

You can still use your Speech-To-Text plugin and just send the text to api.ai:
[code]

For iOS i do the same thing in background with `react-native-speech-to-text-ios`.

Api.ai has it's own speech-to-text-engine but it's deprecated and was removed on the javascript client a few days ago - I think android will follow soon. I recommend to use the device speech-to-tex

[2017-08-31 14:09] rajasaur commented on #9
Thanks for the quick response @spoeck . We will use the requestQuery to do the conversion and send the text request itself.. Thanks again!

[2017-08-31 14:09] #9 closed

[2017-08-31 16:43] spoeck commented on #8
You can make Webhook on the Fulfillment menu in your api.ai console. But I never tried it.

To reset the configuration is may not supported by the android client of api.ai. Did you call startListening or requestQuery?

[2017-09-03 17:42] #8 closed

[2017-09-21 22:03] thevishnupradeep opened #10 "iOS Error: "library not found for -lRNSpeechToTextIos""
Hi,
I am getting an error "library not found for -lRNSpeechToTextIos" when I am trying to build with xcode. I tried Googling about this error and I got nothing.

[2017-09-21 22:14] thevishnupradeep commented on #10
I was able to solve it by adding "react-native-speech-to-text-ios" as a direct dependency.

[2017-09-21 22:14] #10 closed

[2017-09-21 22:16] spoeck commented on #10
Alright.
Another `react-native link` or `npm install`could also help for this issue.

[2017-09-26 14:45] thevishnupradeep opened #11 "Unable to invoke function only in Android"
![screenshot_20170926-172509](https://user-images.githubusercontent.com/5638461/30866387-20f501f4-a2ea-11e7-98aa-b51cd3835ab9.png)

This is how my dependencies looks like.

dependencies {
    // From node_modules
    compile 'com.android.support:appcompat-v7:23.2.1'
    compile project(':react-native-billing')
    compile project(':react-native-spinkit')
    compile project(':react-native-vector-i

[2017-09-26 21:40] spoeck commented on #11
The `compile project(':react-native-api-ai')` dependency is definitely missing.
Try to link your project again with `react-native link`. It should be there after that command and also in the settings file.

[2017-09-27 05:20] thevishnupradeep commented on #11
Thank you for your reply. I can assure you I have done `react-native link`. In fact, you can see the `compile project(':react-native-api-ai')` at the end of the dependencies.

I just tried relink the module and it still doesn't work.

[2017-09-27 05:30] thevishnupradeep commented on #11
I just noticed one thing. I have `ApiAi.setConfiguration('<API_KEY>', ApiAi.LANG_ENGLISH);` in the constructor function of my component. and `ApiAi.requestQuery('PHONE_CONVO_BEGIN', this.setAPIResults, this.setAPIError);` in the componentDidMount method. setConfiguration produces no error

[2017-09-27 09:04] spoeck commented on #11
Ok, then your decencies should be right.

Can you show me the call of `requestQuery`?
Make sure you have three Parameters: `requestQuery("some text", r=>console.log(r), e=>console.log(e))`

[2017-09-27 12:17] thevishnupradeep commented on #11
I can assure you that the code is correct as it is working in iOS perfectly. The issue happens only in Android.

`ApiAi.requestQuery('PHONE_CONVO_BEGIN', this.setAPIResults, this.setAPIError);`

[2017-09-27 13:07] spoeck commented on #11
Can you try `ApiAi.requestQuery('PHONE_CONVO_BEGIN', r=>this.setAPIResults(r), e=>this.setAPIError(e));` just to make sure that no callback is null?

[2017-09-27 13:17] thevishnupradeep commented on #11
Still the same error. But there are some changes in the error report.
![screenshot_20170927-171408](https://user-images.githubusercontent.com/5638461/30915383-b4a1fcf0-a3a7-11e7-8d6b-7dc671aba04f.png)

[2017-09-27 14:47] spoeck commented on #11
Unfortunately, I'm on the way to the react con in Alicante and I don't have my notebook with me. Can you try the sample app of the example folder. Does requestQuery work or at least start listening on android?

[2017-09-28 05:41] thevishnupradeep commented on #11
Hi,
I just did that and the same error happened.

[2017-09-28 19:03] spoeck commented on #11
I will have a deeper look into this issue when I'm back in office next Monday!

[2017-09-29 06:04] thevishnupradeep commented on #11
I just did some googling on my own on this issue. This issue seems to be affecting many libraries like this. Then I went to official API AI android client and found [this](https://github.com/api-ai/apiai-android-client/issues/34).

The solution was to replace `compile 'ai.api:libai:1.4.8'` with `compile('ai.api:libai:1.4.8') {
        exclude module: 'log4j-core'
    }`.

And I can confirm that it

[2017-09-29 06:06] thevishnupradeep commented on #11
However, there is another issue right now. In iOS, the result is an object but in Android the result is returned as a JSON string

[2017-09-30 13:07] Aashish-1008 opened #12 "while running the app its showing error "cann't set read only property" when i have just imported the package "react-native-api-ai"."

[2017-10-02 09:45] spoeck opened #13 "In iOS, the result is an object but in Android the result is returned as a JSON string"
@thevishnupradeep was mention it in issue #11

easy workaround is:
[code]

But anyway, it's annoying and I will release a new version which resolve this very soon

[2017-10-02 09:47] spoeck commented on #11
I just was trying to reproduce your issue and didn't get any error while invoking requestQuery. It might be related to your android configuration. But anyway, thank you for your research and solving this problem!

For following issue:

I open a separate one #13

[2017-10-02 09:47] #11 closed

[2017-10-02 09:49] spoeck commented on #12
@Aashish-1008

Could you please give me more info? Did the error appear on iOS or Android? Where are you make the import - in a react component?

[2017-10-03 06:04] Aashish-1008 commented on #12
this error comes in both the platforms when i m trying to import the module in main component of my app.

import React, { Component } from 'react';
import {
  AppRegistry,
  StyleSheet,
  Text,
  View,
  Button
} from 'react-native';

import ApiAi from "react-native-api-ai",    // if i didn't import this module everything works fine.

I have done linking part also.

**react-native link react-nativ

[2017-10-03 08:55] spoeck commented on #12
Strange... Could you post the redscreen? And which react-native version do you use?

[2017-10-04 19:59] #12 closed

[2017-10-04 20:01] Aashish-1008 opened #14 "hey @spoeck, is there is any way to send additional parameter to api.ai intents ( except speech text ) i.e like i want to send access_token to my intent which later will send this token to my node web-hook"

[2017-10-05 07:28] spoeck commented on #14
You can try using the context:
[code]

[2017-10-05 08:06] Aashish-1008 commented on #14
Cann't we do this using events which attached to intent  and then we will set the event data to params.

[2017-10-05 14:09] spoeck commented on #14
I could implement a method which sets a "permanent" context:
[code]
Then I would set this context on every request with lifespan 1.

Would this help you?

[2017-10-05 14:19] Aashish-1008 commented on #14
perfect thanks !!
**One more thing**
const contexts = [{
  name: "config",
  lifespan: 1,
  parameters: {
      access_token: "your access token"
  }
}];

Using set contexts i able to trigger my corresponding intent. But i don't know how to get those send parameter to my node web hook.

[2017-10-05 14:30] spoeck commented on #14
Ok.. I will implement `setPermanentContexts` next weekend.

I've not done something with webhooks so far but the whole contexts should accessible via the request object `req` of the official example:
https://api.ai/docs/getting-started/basic-fulfillment-conversation

[2017-10-05 14:37] Aashish-1008 commented on #14
Thanks !!

[2017-10-05 15:01] Aashish-1008 commented on #14
Hey, i guess sending events is not present in this module.
Can you add support for that also.
It will be highly appreciated. Thanks.

[2017-10-05 15:20] spoeck commented on #14
Yepp I'm planning to add events, but I stuck on one issue a little bit. It will take some more time for events and it is not on the top position on my todo list. If you need events urgent I recommend following workaround:

1. make an intent
2. add a context for this intent with the name of your event
3. set this context in your app via ApiAi.setContext
4. call ApiAi.requestQuery("", ()=>{},()=>{})

[2017-10-05 19:28] hagianga21 opened #15 "Error when build in react native 0.48.4"
When I try to build your example in react native 0.48.4 there was an error : "cannot find symbol new RNApiAiPackage() and :app:compileDebugJavaWithJavac FAILED". Could you please help me to fix it ? Thank you

[2017-10-06 07:26] Aashish-1008 commented on #14
I found a another way to send events.
As api.ai is totally exposed via api endpoints .So we can also send events by making a api post request to api.ai .

This is code:
var data = {
        "event": {
          "name": "WELCOME",
          "data": {
            "token": "aashish.."
          }
        },
        "timezone": 'America/New_York',
        'lang': "en",
        "sessionId": currentSess

[2017-10-06 10:17] Arafath-misree commented on #14
Guys does this support latest version of react-native i am getting an error ld: library not found for -lRNSpeechToTextIos
clang: error: linker command failed with exit code 1 (use -v to see invocation)

[2017-10-08 13:11] philolo1 opened #16 "Please add that react-native-speech-to-text-ios needs to be linked"
In the readme it was not mentioned that you should run `react-native link  react-native-speech-to-text-ios`

[2017-10-08 20:02] spoeck commented on #16
Thanks for your suggestion!
I was always assuming that it will link it automatically all child parents. Seems that this is not happen always.
Anyway now it is in the readme!

[2017-10-08 20:02] #16 closed

[2017-10-08 20:06] spoeck commented on #14
@Aashish-1008
Thanks for your fetch-method. I implemented it in ApiAi. With version v1.4.0 your have your permanentContext and the ability to requestEvents!

@Arafath-misree
I will look into this problem. This is also total out of context of this issue, so I will put your description to a new one and close this one.

[2017-10-08 20:06] #14 closed

[2017-10-08 20:07] spoeck opened #17 "library not found for -lRNSpeechToTextIos"
Issue of @Arafath-misree

[2017-10-08 20:12] spoeck commented on #15
Make sure that the linking was successful.
In your Android app/build.gradle:
[code]
and in your settings.gradle:
[code]

[2017-10-08 20:12] #13 closed

[2017-10-09 16:33] hagianga21 commented on #15
Thank you, I fixed it, just add:
dependencies {
    compile project(':react-native-api-ai')
 ...
}

[2017-10-09 16:33] #15 closed

[2017-10-12 15:46] CyrusChew opened #18 "1"

[2017-10-12 19:33] jona7o commented on #18
?

[2017-10-12 19:33] #18 closed

[2017-10-13 11:18] spoeck commented on #17
@Arafath-misree
Do you have further information? Which react-native version do you use?

[2017-10-15 16:42] eggybot opened #19 "New issue on RN0.49.x when building it"
Hi, just want to let you know that when I install the new version with the new module name, I'm getting this error when I run `react-native run-android`
[code]
I tried several attempt to uninstall and install it but I do got this issue.

I'm using this version in my project
[code]
can you check if this build version has conflict with the new RN version 0.49.x?

thanks,

[2017-10-15 17:22] #19 closed

[2017-10-22 23:19] jamesdabbs commented on #17
I just scaffolded up a new project (create-react-native-app > eject) and am having this issue as well. React Native 0.48.4.

I'm new to this who ecosystem, but let me know if I can do anything to help track down / reproduce the issue.

[2017-10-23 00:07] jamesdabbs commented on #17
Update: I manually linked in the `RNSpeechToTextIos` library (following the directions from https://facebook.github.io/react-native/docs/linking-libraries-ios.html) and it's working fine now.

[2017-11-01 23:02] aamping opened #20 "Offline Speech recognition"
Hi,

I am working in an app and I first need a speech recognition without network.

Does react-native-dialogflow component can work offline, for the recognition part only?

I tested it and it keeps popping network error when I try offline on my AVD.

Any thoughts?

Thanks

[2017-11-06 10:35] spoeck commented on #20
Hey,

if you want to recognize the speech offline without any dialogflow you will need the native speech-to-text functions. You can use `react-native-speech-to-text-ios` for ios as example.

[2017-11-06 10:36] spoeck commented on #17
Tnanks for your update. I added the linking step for `react-native-speech-to-text-ios` in the redme.

[2017-11-06 10:36] #17 closed

[2017-11-14 02:39] barbaragomes opened #21 "Android Pixel 2 - Unable to invoke requestQueryNative"
I only got this error when the app is running on Pixel Phone and that is all I see:

`Unable to invoke requestQueryNative`

Running on debug mode I caught the exception:

`java.lang.NoClassDefFoundError: ai.api.android.AIDataService`

Any suggestions?

**UPDATE**: Pixel phone is the only device that is running Android 8

[2017-11-14 19:57] Taroka commented on #21
Hi I cannot run the example and cannot integrate the package with my project. Could you tell me your experience about using this package? I thought the DialogFlow remove the speech to text function.

[2017-11-20 19:10] barbaragomes commented on #21
Hey,

I have fixed this issue.
The problem only happened on devices that runs Android 8.

I had to change the dependency list for the api.ai library.

Now it works on all android versions

[2017-11-21 09:14] spoeck commented on #21
Hey @barbaragomes, Thank for your issue and also your solution!

Could you post the changes on the dependency list you made on the api.ai library?

Seems that now I have a reason to by a new Android Phone :D

[2017-11-21 17:33] barbaragomes commented on #21
I had to fix two things actually:

1 - Dependency list for Android 8

2 - The context was being set wrongly

I will create a PR for both

[2017-12-08 14:12] spoeck commented on #21
@barbaragomes
Thanks for your pull request and sorry for my late reply/merge!

[2017-12-08 14:12] #21 closed

[2017-12-08 14:13] #20 closed

[2017-12-19 07:12] hjain1 opened #23 "Attempted to assign to readonly property - Error"
![capture](https://user-images.githubusercontent.com/34336896/34144901-b224f326-e4b9-11e7-92c3-bdb729090c90.PNG)
Hi ,

We are facing attached issue after adding this library to our exitsting project. please guide us if anyone can.
 Thanks in advance.

[2018-01-05 05:52] praba1989 commented on #23
am also facing this issue. could anyone help to fix this issue?

[2018-01-05 06:03] hjain1 commented on #23
@praba1989  Please refer solution from following:
[(https://stackoverflow.com/questions/47918336/attempted-to-assign-to-readonly-property-with-react-native-dialogflow-error)]

If you will face this problem again after that solution, Please let  me know.

[2018-01-05 06:12] praba1989 commented on #23
Hi @hjain1  After adding this line am facing error like "attempted to assign to readonly property"
 import Dialogflow from "react-native-dialogflow"

Let me check with this new project

Thanks

[2018-01-05 07:28] hjain1 commented on #23
@praba1989  Don't install dialogFlow Library from yarn. Install it with npm. It should resolve your issue. DialogFlow doesn't support yarn.

[2018-01-05 07:29] praba1989 commented on #23
Hi @hjain1  I used npm

[2018-01-08 05:13] praba1989 commented on #23
I used  "react-native": "0.44.0" it's works for me..

Thanks

[2018-02-11 08:00] moshekr opened #24 "support for v2"
Hey, any plan to support dialogflow v2? in particular the streaming option

[2018-02-11 08:08] yardensk commented on #24
+1

[2018-02-11 11:43] spoeck commented on #24
Hi @moshekr ,
I will check the technical specs of dialogflow v2 and give you a road map the next days.

[2018-02-11 18:21] sk-eran commented on #24
+1

[2018-02-12 12:55] HisashiQ opened #25 "Support for React Native 0.5+"
Hey,

Is it me being stupid or does this only work with react version 0.4?

Every time I call ApiAi.startListening() the application crashes in react-native@0.53 but the same code in v0.44 works fine. Am I missing something or is a simple version issue?

My application is heavily dependent on dialogue flow so it informs whether I build on 0.4 or 0.5!

Thanks!

[2018-02-12 12:56] HisashiQ commented on #24
+1

[2018-02-21 08:32] HisashiQ commented on #25
Great, thanks @eggybot. Just to clarify, are the examples in react-native-dialogflow/example/index.android.js && index.ios.js up to date on master for 0.5+?

So using `import Dialogflow from "react-native-dialogflow"` fixes the version issue?

[2018-02-21 09:18] yardensk commented on #24
Hey @spoeck any update ? :) Thanks for the useful work again! 🎉

[2018-02-21 09:44] HisashiQ commented on #25
Great! Thanks @eggbot. Really appreciate it

[2018-02-26 14:38] spoeck commented on #24
Update:
I'm working on support for v2. I will release a beta next week!

[2018-03-01 14:32] HisashiQ opened #26 "API key in source code"
Hey, I think your dialogue flow key has been checked in at examples/index.android.js - line 25.

[2018-03-01 14:36] #25 closed

[2018-03-06 15:00] spoeck commented on #24
Update:
- Created a branch 'dialogflow-v2'
- Because there is still no official sdk for android and javascript for v2 I separated the speech-to-text functionallity from dialogflow and just use the REST API (is working for v1)

For the REST calls for V2 I would need some help. Can someone give me a example REST POST? I don't understand the URL param ({session=projects/*/agent/sessions/*})

[2018-03-06 15:29] spoeck commented on #26
@HisashiQ
Thanks for the hint!
I use only demo agents for testing dialogflow, but anyway it's an security issue and it's good that metioned it.
I generated new access keys in my dialogflow agents so the old ones in the source are invalid now.

[2018-03-06 15:29] #26 closed

[2018-03-06 20:02] spoeck commented on #24
Thanks @eggybot for the auth setup link!
requests with speech/text/events are working (see in the example app on android)

The link is something like this: https://dialogflow.googleapis.com/v2beta1/projects/testv2-3b5ca/agent/sessions/0:detectIntent
- testv23b5ca is my ProjectId
- 0 is the sessionId which I create while setting the configuration (random number in real)

BUT: Contexts are NOT worki

[2018-03-07 09:24] spoeck commented on #24
Ah damn !!! now I got it
When you wan't to set a context for example `deals`, instead of setting:
[code]
in V2 you have to set
[code]

so I will concat the path of the name in background so that you can set the context in V2 as below:
[code]

[2018-03-07 11:34] spoeck commented on #24
Published v3.0.0 with Dialog-V2 support!

[2018-03-07 11:34] #24 closed

[2018-03-08 09:38] yardensk commented on #24
Thanks!

[2018-03-09 07:56] eggybot opened #27 "resetContexts Issue: Cannot read property 'getAccessToken' of undefined"
hi @spoeck
I'm getting an error of on `resetContexts` on `dialogflow v1` after upgrading to version 3.0.0.

the error was

do you know what is the cause of issue?

thanks,

[2018-03-09 08:08] #27 closed

[2018-03-09 08:10] spoeck commented on #27
Should be fixed in v3.0.1

[2018-03-18 05:02] rajasaur commented on #24
@spoeck : You mentioned about context being reset, and thats what I get when trying your sample on a flow that has a followup intent. The base intent seems to be working fine but when i speak into the app for the followup, it seems to not take the original context. Do we need to manually setup the contexts ?

[2018-03-18 06:41] rajasaur commented on #24
@eggybot , Its the same in the sample (https://github.com/innFactory/react-native-dialogflow/tree/master/example). Tried to use it against one of my simple projects which only has 2 intents -- main and a followup. The main intent got recognized properly but the followup dint.

[2018-03-22 08:01] 9geeks opened #29 "Error: duplicate symbol _OBJC_IVAR_$_RNSpeechToTextIos._recognitionRequest"
Hi,

I'm trying to add library to my projects but it have error when build

[code]

[2018-03-23 22:09] spoeck commented on #29
Seems that `react-native-speech-to-text-ios` was linked twice
Can you try to unlink it and link it again?
unlink: `react-native unlink react-native-speech-to-text-ios`
link: `react-native link react-native-speech-to-text-ios`

[2018-03-29 12:40] Aashish-1008 opened #30 "RNI18nTests/Info.plist': The file “Info.plist” couldn’t be opened because there is no such file."
I have created a new react-native project.

And after this i diid following steps:
 **npm install --save react-native-dialogflow
react-native link react-native-dialogflow
react-native link react-native-speech-to-text-ios
react-native link react-native-voice**

**xCode plist settings**

<key>NSSpeechRecognitionUsageDescription</key>
<string>Your usage description here</string>
<key>NSMicrophoneUsag

[2018-04-04 11:48] Aashish-1008 commented on #30
no luck.

[2018-04-25 17:49] eggybot opened #31 "how to get accessToken for v2?"
Sorry for asking this but I tried to follow this steps.
https://dialogflow.com/docs/reference/v2-auth-setup
but I could not see/get the access token, I only got a json file plus a I check in google console and services but I could not locate any authentication token.
![gconsole](https://user-images.githubusercontent.com/3815967/39263077-c2ecba92-48f3-11e8-95b2-859bb5934606.png)
Is there a way to g

[2018-05-04 08:02] Thanmai-C opened #32 "Unable to run the example"
I followed the steps mentioned by cloning the repo, npm install and run. But i get the error as in the attached file.
"dependencies": {
    "react": "16.3.0-alpha.1",
    "react-native": "0.54.0",
    "react-native-dialogflow": "../"
  },
![screenshot_1525420768](https://user-images.githubusercontent.com/10921436/39617936-315cc542-4f9f-11e8-81d1-a691d30a7f28.png)

Please help me resolve this issue

[2018-05-10 16:02] glebez commented on #31
Ok, I was a bit too fast with writing that reply ;)

Just figured out that those access tokens expire after an hour, so generating and copying them manually is definitely good for testing only.

[2018-05-11 15:58] joerex commented on #30
You can work around this by removing the test target via xcode. It seems to be an issue with the PInfo config.

[2018-05-11 21:57] joerex opened #33 "Is there a reason the event handler for partial recognition was left out?"
The speech subscription only has handlers for error and final result. Why not partial update as well?

[2018-05-14 04:53] Thanmai-C commented on #32
The code in App.ios.js works properly, but not App.android.js in the example folder. Don't know y?

[2018-05-14 12:06] spoeck commented on #33
yes, because the partial updates are only available in ios. For android I use a different speech-to-text lib which hasn't a partial update. Now you can use it for ios. I just check if onUpdate is undefined before so onUpdate is optional.
I will release a new npm package today.

[2018-05-14 12:06] #33 closed

[2018-05-14 12:11] spoeck commented on #32
@Thanmai-C
I don't support entities in verison 2. The reason was that the API of Dialogflow was different. If you really need support for entities I can look into this problem again

[2018-05-14 12:15] spoeck commented on #31
@glebez thanks for your explanation above.
If someone find a api call for gcloud to refresh the token we can build it into the react-native-dialogflow package. But I really found no better solution.

[2018-05-14 12:16] #29 closed

[2018-05-14 12:46] glebez commented on #31
@eggybot, @spoeck Yeah, unfortunately this gcloud access token stuff is so unnecessarily complicated, compared to the way it was in v1. I guess it's for security sake, but still... I've plowed through tons of docs, but could not figure out a nice reliable way to generate the token to be used on the react native side.

And since I really need to build this thing on v2, I fell back to doing all the

[2018-05-14 13:03] spoeck commented on #31
@glebez
hmm.. do you know how the auth mechanism of the nodejs client works? If just have to make a rest call it wouldn't be a thing. I'm more into aws but they have for everything a rest interface.

[2018-05-14 13:38] Thanmai-C commented on #32
Ya please do see if you can

[2018-05-14 13:59] glebez commented on #31
@spoeck, the trick is, that before using the node client, you have to install and init [gcloud SDK](https://cloud.google.com/sdk/gcloud/) on your server and it somehow magically handles all the authentication for specific api calls for you behind the curtains... ¯\_(ツ)_/¯

[2018-05-14 14:21] spoeck commented on #31
@glebez
oh fuck -> worst case >.<

But thanks for your research!

[2018-06-10 12:59] weikangchia commented on #31
If you guys are still looking for a solution to generate access token to access DialogFlow V2 API. You may want to check out the following code (the library that is used in the code below is [google-oauth-jwt](https://github.com/extrabacon/google-oauth-jwt)):

[code]

You may find your `client_email` and `private_key` from the JSON key file you have downloaded from your Google Cloud Platform proje

[2018-06-13 11:20] spoeck commented on #31
@weikangchia
Thanks a lot !!
I will test it today and keep you up to date

[2018-06-13 14:22] spoeck commented on #30
I removed the test target permanently. thanks for your hint.

[2018-06-13 14:22] #30 closed

[2018-06-13 19:48] spoeck commented on #31
finally it's solved *yippi*
With the help of @weikangchia I build a react-native compatible auth mechanism for google tokens!
In the version 3.1.0 you can set your credentials via:
[code]

[2018-06-13 19:48] #31 closed

[2018-06-17 17:32] mjgallag opened #35 "Add .podspec"

[2018-06-20 10:29] akrupych-remit opened #36 "Invalid authentication"
Hi, I'm trying to query my Dialogflow model using Dialogflow_V2:
[code]
And I get 401 error code and seems accessToken is undefined:
![image](https://user-images.githubusercontent.com/17251879/41652761-b55efbfa-748c-11e8-8823-fe24c196188e.png)

Tried to debug Dialogflow_V2.requestQuery call, but I'm always getting red screen before reaching breakpoint:
![image](https://user-images.githubuserconten

[2018-06-20 12:10] spoeck commented on #36
@akrupych-remit
I think it was my fault. I made some fixes. Can you try to delete your node_modls/react-native-dialogflow folder and install it again via:
`npm i --save 'https://github.com/innFactory/react-native-dialogflow/issues/36'

[2018-06-20 12:45] akrupych-remit commented on #36
Thanks for the fix, but still undefined accessToken.

[2018-06-20 13:31] spoeck commented on #36
@akrupych-remit
found another bug, now it definitely should work. Can you please test it again?

[2018-06-20 14:35] akrupych-remit commented on #36
Great, thanks! But now language code is not specified:)

![simulator screen shot - iphone 6 - 2018-06-20 at 17 29 48](https://user-images.githubusercontent.com/17251879/41665270-40065334-74b0-11e8-91c7-2e55b365418b.png)

[2018-06-20 18:36] spoeck commented on #36
Thank you too for reviewing/testing!

Now you can use the version `3.1.1`. Don't forget to change your package.json and handle the dependencies via npm versions and not via the github master branch.
Or just run `npm i --save react-native-dialogflow` again.

[2018-07-10 07:34] #35 closed

[2018-07-12 11:55] akrupych-remit commented on #36
Authentication doesn't work for me again :(
Using 3.1.3:
[code]

This time access token is not empty, but still 401:
`Dialogflow result: {"error":{"code":401,"message":"Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.","status":"UNAUTHENTIC

[2018-07-15 04:30] gunslingerfry opened #39 "Every call to startListening adds a listener but never removes it"
The result is that speech result _n_ calls `requestQuery` _n_ times.
This is my naive fix on the Android side. I assume a similar solution would work for IOS as well but I haven't tested it.
[code]

[2018-07-16 09:12] akrupych-remit commented on #36
UPD: my fault, called requestQuery too early. Works when calling from componentDidMount(). Would be nice to understand this from logs though. Closing this one.

[2018-07-16 09:12] #36 closed

[2018-07-18 03:38] npmun opened #40 "UWP/Windows10 build fails when react-native-dialogflow module is imported."
I am conditionally importing Dialogflow module in my project. However, "react-native run-windows" (react-native-windows) still fails because index.js (or index.windows.js) file missing.

**This is how I am importing module:**

let Dialogflow_V2 = null;
if (Platform.OS === 'android' || Platform.OS === 'ios') {
    Dialogflow_V2 = require('react-native-dialogflow').Dialogflow_V2;
}

**And, here is t

[2018-07-23 13:21] akrupych-remit opened #41 "Add payload to queryParams"
Please add ability to pass payload object to queryParams, it's available here: https://dialogflow.com/docs/reference/api-v2/rest/v2/projects.agent.sessions/detectIntent#QueryParameters

[2018-07-23 13:45] chrisroe opened #42 "Android Listeners always trigger instantly"
The `onListeningCanceled `and `onListeningFinished` callbacks trigger instantly.
The listeners are set before each `startListening` call and I am using V2. I am getting the desired results from `startListening`. There is another problem with `startListening` not removing the listener after the result is passed, see [this issue here](https://github.com/innFactory/react-native-dialogflow/issues/39)

[2018-07-23 20:59] spoeck commented on #42
Thanks for reporting the issue.
Should be fixed with `v3.2.0`

[2018-07-23 20:59] #42 closed

[2018-07-23 21:01] spoeck commented on #39
Thanks for reporting the issue and also for your solution.
I fixed it with removing the listener initialisation from the startListening method. Now the listener is set when setConfiguration is called (usually only one times).

Should be fixed with v3.2.0

[2018-07-23 21:01] #39 closed

[2018-07-23 21:04] spoeck commented on #40
In version `3.2.0` I merged both index.xxx.js files to one index.js.
Could you try it with this version? If you still have this error, feel free to reopen this issue!

[2018-07-23 21:04] #40 closed

[2018-07-24 07:30] chrisroe opened #43 "dialogflow2.onListeningStarted is not a function"
If I do not add a `onListeningStarted ` listener to DialogFlow_V2, the app crashes.
Edit: The `onListeningStarted ` listener actually gets called twice,

[2018-07-25 18:29] jasonmerino opened #44 "Dialogflow_V2 init failed:malformed plain PKCS8 private key(code:001)"
I am having trouble using the `Dialogflow_V2.setConfiguration` method. I set it up the same as the example on the README and replaced the values with my values but I'm getting this error message.

`init failed:malformed plain PKCS8 private key(code:001)`

![iphone_8_-_11_3__15e217_](https://user-images.githubusercontent.com/1660279/43219908-7c2f6216-8ffd-11e8-855e-e2925b0b6be6.png)

I assume that

[2018-07-29 20:00] JaiKishan911 opened #45 "Dialogflow voice gives more than one response"
While trying out the Dialogflow voice to text in react native i got more than one response with different response Id. Not sure what is causing this.
for second request i got 2 responses..
for third it was 3..and so on.

[2018-08-01 02:33] gunslingerfry commented on #45
See: https://github.com/innFactory/react-native-dialogflow/issues/39

I posted a temp solution, but @spoeck says it will be fixed in the next release.

[2018-08-09 03:42] gunslingerfry commented on #45
New version was put up (but not released on github). https://www.npmjs.com/package/react-native-dialogflow

[2018-08-11 22:33] gunslingerfry opened #46 "Example token / oath key is no longer valid"
Attempted to run the example project (on iOS if that matters) and received errors on both the v1 and v2 from an UNAUTHENTICATED token.

[2018-08-11 22:59] gunslingerfry opened #47 "Multiple results returned from iOS version"
New multiple results problem this time. In between startListening and stopListening multiple results will get returned from `Voice.onSpeechResults` and therefore multiple calls to Dialogflow.

Either you are making an assumption about when the onSpeechResults event is supposed to return on iOS or react-native-voice is returning partial results in the onSpeechResults event.

Another ignorant attemp

[2018-08-27 09:06] tuanbku107 commented on #31
i'm a newbie and I think should have a module to refresh access token...

[2018-09-11 05:33] iamdreo opened #48 "Having problem getting response result"
Please how do I get response result? Tried result.fulfillment.speech but it doesn't work or says in handled promise rejection. Thanks a lot

[2018-09-25 00:38] slattouf95 commented on #48
Hey Iamdreo, did you manage to fix it?

[2018-09-26 16:24] ferdelamad opened #49 "Response object changes."
Hi, my problem is that I always get the response of the default welcome intent and the next intent that I invoke. But if that intent that I invoke afterward has follow-up intents or has actions-parameters required dialog flow get lots in the conversation.
I temporarily fix it for follow-up intents setting all the follow-up contexts in "Permanent contexts" (I don't know if this is the proper way of

[2018-10-08 08:45] eggybot opened #50 "Android apk release error ":react-native-dialogflow:verifyReleaseResources""
hi, I'm rebuilding a new app with latest RNv0.57.0 , on android when I''m building the app for release, I getting this error
[code]
do you know what is the main cause of this issue?

thanks,

[2018-10-17 07:20] #50 closed

[2018-10-23 10:50] #45 closed

[2018-10-23 10:53] spoeck commented on #47
Thanks for this issue
Should be fixed with version 3.2.1

[2018-10-23 10:53] #47 closed

[2018-10-23 10:55] spoeck commented on #43
Thanks for the issue!
Is fixed in version 3.2.1

[2018-10-23 10:55] #43 closed

[2018-10-23 10:56] spoeck commented on #46
Seems this is an issue of Dialogflow itself. I had no problems to authorize my test project

[2018-10-26 10:51] latheesh08 opened #51 "Can i use this package for react js."
Hi there,

I wish to use this package for my react js project , Did it will work can any one have solution please ping me. thank  you.

[2018-10-27 14:44] sibelius opened #52 "does this works on ios simulator?"

[2018-10-27 15:33] sibelius commented on #44
change `\\n` to `\n`

[2018-10-27 16:29] spoeck commented on #52
Yepp, the example app runs in iOS simulator as well as in the android simulator! Just run `react-native run-ios` in the example folder.

[2018-10-27 16:29] #52 closed

[2018-10-29 12:02] sibelius opened #53 "do we need an ios bridge?"
there is not in iOS bridge yet? should we have it?

[2018-10-29 13:05] sibelius opened #54 "clang: error: no such file or directory libApiAi.a"
clang: error: no such file or directory: '/Users/sibelius/Library/Developer/Xcode/DerivedData/app-fqlxmqrhtgfyvwfopwgfyrnexuva/Build/Intermediates.noindex/ArchiveIntermediates/app/BuildProductsPath/Release-iphoneos/libApiAi.a'

[2018-10-29 13:09] sibelius commented on #51
you can use this package instead https://github.com/dialogflow/dialogflow-javascript-client

[2018-10-29 15:24] spoeck commented on #51
Unfortunately, this package is only for React-Native. The problem is the authentication for V2: You can't get the token in the browser because of missing CORS headers. We solve this problem by using the node-js sdk in a Google Serverless Function.

@sibelius I'm not 100% sure but I think your suggested lib works with V1 only

[2018-10-29 15:28] spoeck commented on #53
I was using the api-ai ios sdk for api v1. But since V2 I solve every request to with the rest api. This solves also the problem that dialogflow has released an ios sdk for v2 yet.
The Bridges for ios and android are only the voice service which makes the speech-to-text recognition on the device side.

[2018-10-29 15:29] spoeck commented on #54
could you try `react-native link react-native-dialogflow`?

[2018-10-29 15:34] sibelius commented on #54
fixed removing libApiAi.a from link, not sure why

but as we don't need the iOS bridge, it is all good

[2018-10-29 15:34] #54 closed

[2018-10-30 09:59] latheesh08 commented on #51
it doesn't supports v2..

[2018-11-02 13:56] sibelius opened #55 "how can we avoid calling finishListening on iOS?"
it'd be cool to have the same behavior of Android?

can we implement this in a bridge?

any thoughts on this?

[2018-11-02 14:52] jgcmarins commented on #55
facing same problem here

[2018-11-02 17:36] sibelius opened #56 "crash when calling Dialogflow_V2.finishListening on android"
[code]

I think we should handle this, so it won't crash on android

[2018-11-02 18:09] sibelius opened #57 "move react-native-voice to peer dep"
having to versions of react-native-voice will make react native crash

so it is a good idea to have another native bridge as a peer dep instead of a dependency

[2018-11-05 15:53] #57 closed

[2018-11-05 16:03] spoeck commented on #55
I think it's an OS behavior. When you're using google assistant on android it automatically recognize if you're finished with speaking. If I remember correctly you have always hold a speech button if you're talking to Siri?!

[2018-11-05 16:21] sibelius commented on #55
we should debounce on iOS I think

check this https://github.com/wenkesj/react-native-voice/issues/21

[2018-11-06 13:57] eggybot opened #59 "Lag when loading Dialogflow_V2.setConfiguration()"
Hi @spoeck I notice that when I add dialogflow within a tab screen, there is a 4 to 8 second delay before it shows the screen for the chat. If I switch to V1 it load fast but for V2 it seem that it took sometime to actually load a screen when Dialogflow_V2.setConfiguration() is initiating. Have you experience this one?

thanks,

[2018-11-06 13:59] sibelius commented on #59
you can use this https://facebook.github.io/react-native/docs/interactionmanager, to let the navigation animation happens, and then you can initialize dialog flow

[2018-11-08 18:17] #46 closed

[2018-12-11 10:12] rajeshpdurai16 opened #60 "How can i customize the google window and alert msg when we start speaking?"
![f66dd4d0-340e-4319-9df6-2a26d8583d66](https://user-images.githubusercontent.com/11308798/49793461-436f0280-fd5b-11e8-8130-d1696d185833.jpg)

I want to customize the above window as per my requirement is that possible? If yes how can i do that?

[2019-02-24 21:45] enrique26 opened #61 "Problem creating signed apk"
Hi there:
I got this error when i trying to build a signed apk

I already link the library on build.gradle and settings.gradle files

Does anyone have an idea of ​​what may be happening?
What i missing?

[2019-03-12 15:29] sharmaabhay18 commented on #50
@eggybot Did you solve this issue. I am getting the same one above.
I am using RN V 0.58.6

[2019-03-23 17:43] gsevla commented on #36
Always getting UNAUTHENTICATED. I'm using as example:

[code]

In render(), the first thing is:
`Dialogflow_V2.requestEvent("WELCOME", null, r => console.log(r), e => console.log(e));`

When i check in console:

I'm using:
**react-native-voice@0.2.6
react-native-dialogflow@3.2.2**

[2019-04-07 20:07] mynameisgireesh commented on #49
`Dialogflow.startListening((result) =>{
              console.warn("result called");
              console.warn(result);
          }, (error)=>{
              console.warn(error);
          });`

In the above piece of code result callback is getting called multiple times. Facing the issue. Any progress on this issue

[2019-04-16 12:43] mawaisqr opened #62 "Could not resolve all files for configuration ':app:debugCompileClasspath'. Could not find sdk.aar (ai.api:sdk:2.0.7)"
Hi guys,
I am on ubuntu 18.04, and I'm using react native cli, my build process failed after adding `react-native-dialogflow` into my project. The same project was running successfully on my colleague Mac even after installing `react-native-dialogflow` but I don't know why it's giving me error.

I have searched this error but the solutions I found were for dialogflow android sdk, though I did trie

[2019-04-16 13:02] mawaisqr commented on #62
Hi guys I'm closing this issue,
For those who might face this issue, a simple fix for it is to download [http://central.maven.org/maven2/ai/api/sdk/2.0.7/sdk-2.0.7.aar](url) and then paste `sdk-2.0.7.aar` into the directory where build process was trying to find it, for me this directory was **/home/awais/.m2/repository/ai/api/sdk/2.0.7/sdk-2.0.7.aar**

Danke innFactory for library, tuchss :)

[2019-04-16 13:02] #62 closed

[2019-05-09 20:14] BenjaminPcrd opened #63 "No callback returned when Dialogflow_V2.startListening"
The callback is never returned when startListening

`
        <Button onPress={() => {
          Dialogflow_V2.onListeningStarted(()=>{
            console.log("listening started");
          });

          Dialogflow_V2.onListeningCanceled(()=>{
            console.log("listening canceled");
          });

          Dialogflow_V2.onListeningFinished(()=>{
            console.log("listening finish

[2019-05-16 10:09] etcheverryRafael commented on #63
I am experiencing the same in Android. Did you find a solution?
I have noticed the Dialogflow_V2.onListeningStarted get's called twice.
Also i think that the request is not reaching Dialogflow backend, i haved checked the console on Firebase and there is no record of any request.
Thanks!

[2019-05-16 14:02] BenjaminPcrd commented on #63
No, I still using the V1 for now.
A solution would be to make a speech-to-text recognition with rn-voice and next, send a text query. I'll try to make it

[2019-05-16 14:28] etcheverryRafael commented on #63
Yes i though of that too. But it very strange that this is not working, it's the core functionality of the package.

[2019-05-16 15:24] BenjaminPcrd commented on #63
import Voice from 'react-native-voice';
    import { Dialogflow_V2 } from 'react-native-dialogflow';
    ...

    Voice.onSpeechStart = () => console.log("Start")
    Voice.onSpeechEnd = () => console.log("End")
    Voice.onSpeechError = (err) => console.log("Error", err)

    Voice.start('en-US')

    Voice.onSpeechResults = (res) => {
      let speech = res.value[0]
      Dialogflow_V2.requestQu

[2019-05-20 06:50] AlcuinGuest commented on #44
@jasonmerino Did you solve this? Having the same problem.

[2019-05-20 12:16] #44 closed

[2019-05-20 13:53] AlcuinGuest opened #64 "Multiple languages?"
Love the library!

I want to add multiple language responses, so that when a user sends a query in a certain language, the response comes back in that language.

Something like:
[code]

Right now, if a user submits a query in Spanish, the response comes back in English, even if the responses defined in the DialogFlow console are in Spanish.

Thanks!

[2019-05-22 21:15] jasonmerino commented on #44
@AlcuinGuest glad you were able to solve it!

[2019-06-03 13:16] Baksha2008 commented on #36
I had the same problem. For me, the solution was to add async / await before the request!

[2019-06-11 22:02] PvanHengel opened #66 "Error handler for setConfiguration"
Hi,

It seems that if you call the setConfiguration method there is no easy way to capture errors such as network down or authentication issues.  There should be a promise or callback or some way of checking if there is an error.  Errors don’t bubble up either so we aren’t unable to wrap in a try catch block they simply write out to console.error

Thoughts?
Peter

[2019-07-11 20:31] adamsiwiec commented on #66
Not sure why the authors of this package didn't add that initially. It is a must!

[2019-07-15 10:52] etcheverryRafael opened #68 "React Native Dialogflow_V2.request timeout"
I believe the React Native Dialogflow_V2.request has a timeout of 2 seconds. My fulfillment needs some more seconds to process the request. Is there a way to increase the the React Native Dialogflow_V2.request timeout?

Thanks!

[2019-07-25 04:46] p4tric commented on #61
Has anyone got a solution for this? I also experience this error.

[2019-07-30 20:29] devfordays opened #70 "colorError not found"
error: resource android:attr/colorError not found.

[2019-07-30 20:29] #70 closed, assigned to nobody

[2019-07-30 20:41] devfordays opened #71 "Resource Linking Failing during ./gradlew assembleRelease"
Been trying to assemble an apk for a long time now but keep running across this error when building.

 java.util.concurrent.ExecutionException: com.android.builder.internal.aapt.v2.Aapt2Exception: Android resource linking failed
 node_modules/react-native-dialogflow/android/build/intermediates/res/merged/release/values-v26/values-v26.xml:7: error: resource android:attr/colorError not found.
 node_

[2019-08-08 17:28] matheusleite commented on #63
I am experiencing the same error on Android!
Any updates?

[2019-08-23 05:43] muhammadzumair opened #72 "Support for Versions and Environments"
[https://cloud.google.com/dialogflow/docs/agents-versions](url)
Dialoglow added support for version controlling and Environment Management, and its a very useful and needed feature, please add support to call a Specific Environment in a Dialogflow configuration.

[2019-08-23 05:51] saadjaliawala commented on #72
boht bada issue hai plz jaldi solve krden

[2019-09-07 18:36] brerdem opened #73 "Turkish support"
DialogFlow documentations says Turkish is among the supported languages. Would you consider adding it?

[2019-09-09 19:29] Venryx commented on #31
Thanks to the comments above, I put together a self-contained solution to in-browser access-token generation: https://stackoverflow.com/a/57857698/2441655

@tuanbku107 The answer above also handles refreshing the token once expired. (ie. after 60 minutes)

[2019-09-11 08:43] OscarSaro commented on #63
Same issue here in Android, the events works fine but the `startListening` callback never gets called, and the agent is not receiving anything (I have been looking though the firebase and Dialogflow logs).

The @BenjaminPcrd solution works for me, but is there any update?

[2019-09-16 12:23] OscarSaro opened #74 "Dialogflow_V2.resetContexts not working"
Hi,

I would like to use the resetContext method, but it always throws this error `Possible Unhandled Promise Rejection (id: 0): TypeError: undefined is not an object (evaluating 'this.client.getAccessToken')`. I'm using the V2. My goal is to use `Dialogflow_V2.resetContexts` when the intent is settled as end of conversation. All the other methods I’m using work fine.

Is this method only availabl

[2019-09-16 21:47] cadenmackenzie commented on #74
I am having the same issue. Happy to share code if necessary!

[2019-10-23 23:21] raguiar2 opened #75 "Expo Client Support"
When using this module with `expo`, I get the error `Native module cannot be null`, and I assume  this is due to the manual linking process. Is there a way to use this module without having to run `eject`? If not, are there plans to make this compatible with `expo`?

[2019-10-25 07:23] stevelizcano commented on #75
This is outside the realm of this package, you'd have to ask the Expo team to include it in the next Expo SDK.

[2019-11-02 20:26] jaalbertill commented on #63
You can change de module: .../node_modules/react-native-dialogflow/index.js

AFTER:
`/**
 * DIALOGFLOW V2
 */
var dialogflow2 = new Dialogflow_V2();

dialogflow2.setConfiguration = async function (clientEmail, privateKey, languageTag, projectId) {
    dialogflow2.accessToken = await dialogflow2.generateAccessToken(clientEmail, privateKey);
    dialogflow2.languageTag = languageTag;
    dialogflow2

[2019-11-25 11:06] jaklew commented on #71
For anyone building an app with RN ^0.60.0, I was able to build the apk with a little help from GitHub: https://github.com/react-community/create-react-native-app/issues/499#issuecomment-396545716
Only changing the SDK & build tools versions to 28 and 28.0.3, respectively.

[2019-11-26 11:07] kamkaka opened #76 "Listeners not being re-used or removed on stopListening"
Hi ,

I am trying to add voice handling in my react-native android app.
All seems to be working but I am not able to figure out how do I establish a conversational context.

Currently startListening() listens just once and respond.
And if I again do startListening then another lister starts and I get 2 responses.

Please can someone suggest if this is the issue or I am using the library  incorrect

[2020-01-08 06:34] TanviVartak opened #77 "Webhook call failed. Error: DEADLINE_EXCEEDED."
Hi,
When I fire requestQuery API, the webhook failed with error "DEADLINE_EXCEEDED".
In the firebase log, webhook was executed successfully within 1944ms with status code 200.
webhook is not external webhook.
react-native-dialogflow version 3.2.2
This error appears intermittently, any help is appreciated.

Thanks,
Tanvi

[2020-01-22 13:26] Gabsys commented on #77
I face this issue as well. I don't really think is react-native-dialogflow's issue though, more like Dialogflow's webhook issue because I get the same error when I do testing with their test console.

[2020-01-22 14:04] Gabsys commented on #71
worked for me! Thanks!!

[2020-01-27 04:53] TanviVartak commented on #77
In webhook's log, there is no error and it's execution status is 200. Also, it executes within timeout period.
Any idea what causes this error or any ways to resolve it?

[2020-01-29 18:50] cullsin opened #78 "android:attr/colorError not found"
Hi,

Build is getting failed from react-native-dialogflow. I am using buildToolVersion "28.0.3" .

I have attached the screenshot. Can you please suggest the work around.

![image](https://user-images.githubusercontent.com/5137598/73387272-51cd0480-42f6-11ea-9e86-c429f3699bf8.png)

[2020-02-01 09:17] MaxenceEpitech opened #79 "Crash when including 'react-native-dialogflow'"
Hey,
I have an empty react app with expo and when I add this line:
import { Dialogflow_V2 } from 'react-native-dialogflow';
(same with import { Dialogflow } from 'react-native-dialogflow'; )
The app crash and I have this error message :
![image](https://user-images.githubusercontent.com/30686562/73589853-98169500-44a9-11ea-92d3-779e2bf7d81e.png)
Any ideas ?

[2020-02-27 12:13] Beaudinn commented on #78
i have the same problem, is this repo still active?
@cullsin  did you get it working?

[2020-03-03 02:35] joe-pellegrino commented on #79
I fixed the same issue by changing the package.json from 3.2.2 to 3.1.0. Deleting the module in node_modules, then running npm install.

[2020-03-20 11:06] silver-volt4 opened #80 "Disable CORS"
Hello,
I'm using this library in a web project.
When I try to use the requestQuery method, I get a CORS related error.
If I want to pass the no-cors header, how do I do it?

[2020-03-26 02:25] RichardValadares opened #81 "react-native-dialogflow with Redux and Redux-Thunk"
The app shows an error when trying to generate the token on the line:
dialogflow2.accessToken = await dialogflow2.generateAccessToken (clientEmail, privateKey);
using redux and redux-thunk.

I believe it is because the token generation is synchronous.

When I call the component directly, without going through redux, the application works perfectly.

Can you help me with that?

[2020-04-16 15:39] asadadams commented on #66
@adamsiwiec @PvanHengel did you find a way to handle errors for setConfiguration

[2020-04-16 19:26] asadadams commented on #70
@devfordays did you find the solution

[2020-04-21 14:32] DavidKarasek opened #82 "Authentication: Unexpected token o in JSON at position 1"
I suddenly started getting this error when initializing dialogflow,

`react-native-dialogflow: Authentication Error: SyntaxError: Unexpected token o in JSON at position 1`

Nothing has changed in the past 2 weeks with my implementation so I am not sure why I would suddenly get an error like this. I have tried blowing away node modules and reinstalling but it made no difference.

I am using V2, her

[2020-05-02 00:34] rikinshah23 commented on #78
I have the same problem. Anyone got any solution for this issue?

[2020-05-02 00:36] rikinshah23 commented on #70
@devfordays  @asadadams  did anyone found solutions for this error? I have the same problem.

[2020-05-02 00:41] rikinshah23 opened #83 "failed for task ':react-native-dialogflow:verifyReleaseResources'. Android resource linking failed"
Hello,

We are using dialogflow in our app.
While building release version for android, it throws below errors.

![image](https://user-images.githubusercontent.com/26806597/80850800-0834d400-8bdb-11ea-95ac-bee3378a343f.png)

my build.gradle information is as below:
[code]

[2020-05-02 00:47] rikinshah23 commented on #71
@eggybot @jaklew @Gabsys
I am having same issue.
This is my build.gradle file:

[code]
My RN version is **0.62.2**
I am still unable to build the apk for react native android project.

[2020-05-02 01:14] rikinshah23 commented on #83
if someone needed help with this problem, here is a solution:

go to node_modules\react-native-dialogflow\android\build.gradle
and change compileSdkVersion, buildToolsVersion, and targetSdkVersion to match your versions in android\build.gradle file.

That solved build issue for me.

[2020-05-02 01:14] #83 closed, assigned to nobody

[2020-05-08 19:05] Pei116 commented on #82
I'm facing the same error even though all the configurations are set.
@DavidKarasek were you able to fix it?

[2020-05-14 01:05] mitchhh22 commented on #79
@joe-pellegrino  your suggestion did not work.
I didn't try ejecting. Did you do something else?

[2020-05-23 06:02] draturi commented on #79
@mitchhh22 I just got it working. I enacted what @joe-pellegrino said. changed `package.json` at root to `"react-native-dialogflow": "3.1.0"` then `rm -r react-native-dialogflow` in `node_modules` directory, then finally from the `root` dir of the project ran `npm install`

This lead to npm installing 3.1.0 and now the app doesn't crash on the `Invariant Violation....` error

[2020-05-24 13:31] pramodkumar005 opened #84 "Authentication V2: "status": "UNAUTHENTICATED""
Unable to get access

[code]

error recieved:
 {"error": {"code": 401, "message": "Request had invalid authentication credentials. Expected OAuth 2 access token, login cookie or other valid authentication credential. See https://developers.google.com/identity/sign-in/web/devconsole-project.", "status": "UNAUTHENTICATED"}}

[2020-06-07 13:21] arunpugahz commented on #75
+1

[2020-06-09 17:43] arunpugahz opened #85 "ChatFuel Integration Response"
Hi,
Great package and works like a charm. Hats off for that :)

Everything is working fine with my custom intents in the DialogFlow.

If I integrate Google Dialog flow with chatfuel,
When I make a request to Dialog flow, In the response I'm not getting the text value, rather I am getting Custom payload set for chatfuel.
[code]
Correct me if am wrong,
Ideally, the response from the chatFuel must be

[2020-06-27 23:29] classicalguss commented on #79
I get a crash too. I'm using expo, and I'm trying to avoid ejecting. I also included the infoPlist in the app.json like this
`    "ios": {
			"bundleIdentifier": "com.yasmina.yasmina",
			"infoPlist": {
				"NSSpeechRecognitionUsageDescription": "Your usage description here",
				"NSMicrophoneUsageDescription": "Your usage description here"
			}
		},
`

Downgrading to 3.1.0 will stop that error, b

[2020-07-08 19:31] martinlockett commented on #74
Me too. See https://github.com/innFactory/react-native-dialogflow/pull/86 for a fix

[2020-07-24 11:49] lewismclennan commented on #84
I've tried generating new service accounts and making sure the API is enabled on the project. Any idea what could be causing this?

[2020-07-29 06:36] eniga commented on #84
Sadly same issue here. Been stuck on this for over 2 weeks. Anyone got an alternative method?

[2020-08-25 11:05] martinlockett commented on #84
This is how I do it:

[code]

[2020-09-15 15:58] 4gentP commented on #64
Hey I have the same issue.
Did u find any solution?

Edit: I created separate functions for each language and put the entire setConfiguration in them and seems to work.

[2020-10-08 11:47] ayan-biswas0412 opened #87 "Android build failure -- in assembleRelease"
I am getting this error everytime when building release app but it works fine in debug app
[code]

[2021-01-26 23:52] attachi20 commented on #87
did you solve your probleme

[2021-01-27 06:51] ayan-biswas0412 commented on #87
no still not

[2021-01-27 15:48] attachi20 commented on #87
I have the same problème like you

[2021-04-08 05:45] ajith-sankar commented on #31
please explain this method!

[2021-07-15 01:00] RamithaSRavi commented on #84
Does anyone know a solution to this? The previous post requires TypeScript

[2021-08-23 14:22] tomslutsky commented on #87
same for me. any updates with this issue?

[2021-09-22 10:53] bohdansushchak commented on #87
try add to android/build.gradle

[code]

That solved build issue for me.

[2022-07-12 16:34] Jefferson-Lima-Santos commented on #84
Same here.

[2022-07-12 17:00] Jefferson-Lima-Santos opened #91 "UNAUTHENTICATED 401"
This is my code:
[code]

Result from Console.log(Dialogflow_V2);

[code]

Result from console.log(result),

[code]

[2022-07-18 07:31] #91 closed, assigned to nobody

[2022-07-18 07:31] Jefferson-Lima-Santos commented on #91
apparently the problem was solved, the code started working by itself, I'll be looking deeper into the problem.